<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TO-DO List</title>
</head>
<body>
    <header> x-auth-token</header>
    <!-- <form action="api/todo" method="put">     -->
        <div id="myDIV" class="header">
                <h2>My To Do List</h2>
                <input type="text" id="myInput" placeholder="Title...">
                <span onclick="newElement()" class="addBtn">Add</span>
        </div>
        
    //- <div class="container pt-5">
    //-     <div class="row">
    //-         <ul id="myUL">
    //-             <% for(var i=0; i<output) {%>
    //-                 <li>output</li>
    //-             <%}%>
    //-         </ul>
    //-     </div>
    //- </div>        

    <div class="container pt-5">
        <p>output</p>
    </div>
<!--        <div class="container">
            <label for="email"><b>Username</b></label>
            <input type="text" placeholder="Enter your E-mail" name="email" required>
            <br>
            <br>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <br>
            <br>
            
            <button type="submit">Login</button>
        </div> -->

    </form>
</body>
</html>